@import url('https://fonts.googleapis.com/css?family=Work+Sans:400');

/* CSS variables */
:root {
	--background: rgba(0, 0, 0, 0.9);
}

*, *::before,  *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

h1 {
	color: #fff;
}

.content {
	height: 200vh;
	background-image: url('https://i.imgur.com/JfmKsRv.jpg');
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.9);
	display: grid;
	place-items: center;
}

/***********
NAVBAR
***********/

header {
	background: var(--background);
	text-align: center;
	z-index: 100;
	position: fixed;
	width: 100%;
}

.nav-toggle {
	display: none;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	/* this is needed or the display defaults to none */
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	/*border: 1px solid red; used for positioning only */
	height: 100%;
	display: flex;
	align-items: center;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: var(--background);
	width: 100%;
	transform: scale(1, 0); /* 1 keeps the width at 100%, 0 squishes height to 0% */
	transform-origin: top; /* lets the menu come down */
	transition: 400ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

nav a:hover {
	/*font-size: 1em;*/
	text-decoration: none;
	color: white;
}

/* the "~" looks for any preceding sibling
 it doesn't have to be immediately after */
.nav-toggle:checked ~ nav {
	transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
	.nav-toggle-label {
		display: none;
	}

	/* Use CSS grid */
	header {
		display: grid;
		grid-template-columns: 4rem auto minmax(500px, 4fr) 4rem;
	}

	.logo {
		grid-column: 2 / span 1;
	}

	nav {
		all: unset; /* removes all mobile styling */
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	nav ul {
		display: flex;
	}

	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav a::before {
		content: '';
		display: block;
		height: 7px;
		background: white;
		position: absolute;
		top: -1.5em;
		left: 0;
		right: 0;
		transform: scale(0,1);
		transform-origin: left;
		transition: transform ease-in-out 250ms;
	}


	nav a:hover::before {
		transform: scale(1,1);
	}
}

/*******************
HERO
*******************/

.hero {
	height: calc(99vh - 50px);
	background-image: url(https://i.imgur.com/B8dLbM6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: 0, 0;
	top: 4rem;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	/*overflow: auto;*/
}

.hero-overlay-text {
	z-index: 5;
	height: calc(100vh - 50px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding-top: 10rem;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.hero-overlay-text h1 {
	margin-top: 0rem;
	font-size: 6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}


/*******************
BIOGRAPHY
*******************/

section {
	margin: 0;
	padding: 4rem;
	color: lightgray;
}

.bio {
	display: flex;
}

/*******************
		Footer
*******************/

.footer-container {
	background: var(--background);
	position: relative;
	grid-column: 1 / 4;
	display: flex;
	justify-content: center;
	align-items: center;

	bottom: 0;
	padding: 2rem;
}

footer ul {
	display: flex;
	justify-content: space-around;
}

footer li {
	list-style-type: none;
}

footer a {
	text-decoration: none;
	color: white;
	padding: 2rem;
}


